/* Gallery Interior Component */
.gallery-interior {
  position: relative;
  width: 100%;
  height: 827px; /* Match Figma frame height */
  overflow: hidden;
}

/* Background overlay */
.gallery-interior__overlay {
  position: absolute;
  background-color: #d9d9d9;
  height: 851px;
  left: 0;
  top: -24px;
  width: 995px;
  z-index: 1;
}

/* Main image container */
.gallery-interior__image-container {
  position: absolute;
  height: 1968px;
  left: 0;
  top: -532px;
  width: 1311px;
  z-index: 2;
}

/* Gallery image */
.gallery-interior__image {
  position: absolute;
  height: 77.33%;
  left: -2.52%;
  top: 2.91%;
  width: 109.24%;
  max-width: none;
  object-fit: cover;
  object-position: center;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .gallery-interior {
    height: 600px;
  }
  
  .gallery-interior__overlay {
    height: 620px;
    width: 100%;
  }
  
  .gallery-interior__image-container {
    height: 1400px;
    width: 100%;
    top: -300px;
  }
  
  .gallery-interior__image {
    width: 120%;
    left: -10%;
  }
}

@media (max-width: 768px) {
  .gallery-interior {
    height: 400px;
  }
  
  .gallery-interior__overlay {
    height: 420px;
  }
  
  .gallery-interior__image-container {
    height: 1000px;
    top: -200px;
  }
  
  .gallery-interior__image {
    width: 130%;
    left: -15%;
  }
}

@media (max-width: 480px) {
  .gallery-interior {
    height: 300px;
  }
  
  .gallery-interior__overlay {
    height: 320px;
  }
  
  .gallery-interior__image-container {
    height: 800px;
    top: -150px;
  }
  
  .gallery-interior__image {
    width: 140%;
    left: -20%;
  }
}
